IPython
requests
beautifulsoup4
openai
pydantic
wikipedia-api
holoviews
python-louvain
hvplot
numpy
pandas
seaborn
matplotlib
scipy
networkx
community
setfit
datasets
scikit-learn
torch
transformers
gradio
requests